@charset "uft -8";
@import url("main.css");
@import url("font.css");
/* -- 채은 영역 -- */
/* modal창 */
body.active {
  overflow-y: auto;
}
.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal-main {
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 400px;
  min-width: 250px;
  height: 34.37vw;
  max-height: 500px;
  min-height: 350px;
  text-align: center;
  line-height: 20px;
  justify-content: center;
  align-items: center;

  border-radius: 50px;
  padding: 0px;
}
.modal-logo {
  width: 100%;
  height: 100%;
  background: url("../images/favicon/modal.png") no-repeat center;
  background-size: cover;
  border-radius: 50px;
}
.modal-nonotic {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  color: #77bd82;
  top: 0;
}
.modal-close {
  position: absolute;
  top: 44px;
  right: 20px;
  font-size: 22px;
  color: #aaa8a8;
  cursor: pointer;
}

.modal-nonotic span {
  font-size: 30px;
  font-weight: 600;
  color: #77bd82;
}

.modal-btn {
  position: absolute;

  text-align: center;
  margin-top: 0px;
  height: 40px;
  line-height: 40px;
  border-radius: 30px;
  font-size: 1.6rem;
  bottom: 65px;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ffffff;
}
.modal-btn:hover {
  background-color: #fff;
  color: black;
}
.colseWrap > label {
  position: absolute;
  bottom: 4.4%;
  right: 55%;
  align-items: center;
  color: #fff;
  font-size: 1.3rem;
  
}
.notice-wrap {
  position: relative;
  display: flex;

}
#expiresChk{
  position: absolute;
  bottom: 5%;
  right: 87%;
  align-items: center;
}
.closeBtn{
  position: absolute;
  bottom: 4.4%;
  right: 47%;
  align-items: center;
  font-size: 1.3rem;
}

/* instagram영역 */
.instagram-wrap {
  width: 100%;
  height: auto;
}
.insta-title {
  text-align: center;
  line-height: 32px;
  margin-bottom: 20px;
}
.insta-title p {
  font-size: 30px;
  color: black;
  font-weight: 600;
}
.insta-title span {
  font-size: 18px;
  color: #c0c0c0;
}
.insta-viewmore {
  padding: 0;
  margin-bottom: 30px;
  font-size: 1.8rem;
  text-align: center;
}
.insta-viewmore #load-more {
  color: #7d7d7d;
  cursor: pointer;
}
#load {
  display: inline-block;
  margin-bottom: 1.7px;
  width: 1.2%;
  height: 1.2%;
  align-items: center;
  transform: rotate(0deg);
}
#load:hover {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}
.insta-img {
  position: relative;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* height: 140px; */

  gap: 10px;
  margin: 0 auto;
}
.insta-img > a {
  display: block;
  width: calc(100% / 4 - 10px);
  height: 25vw;
  max-height: 280px;
  /* height: 100%; */
  /* display: flex; */
  position: relative;
  overflow: hidden;
  border-radius: 15%;
}

.insta-img > a > .write-1 {
  width: 100%;
  height: 100%;
}
.insta-img > a > .write-1 > img {
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.write-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 55px;
  display: none;
  color: #ffffff !important;
  font-size: 1.4rem;
  z-index: 10;
  line-height: 1.5;
}
.write-2 span {
  color: #ffffff !important;
  z-index: 10;
}

.write-2::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.8rem;
  z-index: -1;
}

.insta-ft {
  position: relative;
  width: 100%;
  height: 100%;

  cursor: pointer;
  margin-bottom: 6%;
}
.insta-bt {
  display: block;
  line-height: 2;
  position: relative;
  font-size: 2.5rem;
  /* font-size: 25px; */
  letter-spacing: 1px;
  font-weight: 600;
  color: #fff;
  /* height: 13%; */
  /* padding: 23px 80px; */
  padding: 0.3% 3%;
  border-radius: 50px;
  border: 1px solid #77bd82;
  background-color: #77bd82;
  cursor: pointer;
  margin: auto;
  margin-top: 60px;
}
.insta-bt > a {
  color: #fff;
}
/* footer */
.footer-wrap {
  width: 100%;
  background-color: #77bd82;
  color: #fff;
}
.footer-inner {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.footer-left {
  line-height: 38px;
  padding: 50px;
}
.footer-left-top > p {
  font-size: 30px;
}
.footer-left-top > span {
  font-size: 13px;
}
.footer-left-middle {
  width: 30%;
  display: flex;
  position: relative;
  font-size: 14px;
  border: solid 1px;
  border-radius: 20px;
  padding-left: 4%;
  cursor: pointer;
  margin-bottom: 10px;
}
.footer-left-middle a img {
  position: absolute;
  width: 40%;
  margin-left: 20px;
  display: block;
  padding: 0px 0px 0px 5px;
  margin-top: 2px;
}
.footer-bt {
  font-size: 13px;
}
.footer-right {
  padding: 50px;
  line-height: 30px;
}
.footer-right-top p {
  font-size: 20px;
}
.footer-right-top > span {
  font-size: 20px;
  opacity: 80%;
}
.footer-right-bt p {
  font-size: 20px;
}
.load {
  font-size: 16px;
  opacity: 80%;
  cursor: pointer;
}
.footer-img {
  position: relative;
  width: 100%;
}
.footer-img img {
  width: 60%;
  margin-left: 500px;
}
/* 반응형 insta */
@media all and (max-width: 1400px) {
  .modal-btn {
    position: absolute;

    text-align: center;
    margin-top: 0px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    font-size: 1.6rem;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ffffff;
  }
}
@media all and (max-width: 1200px) {
  .modal-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 33.333vw;
    height: 44.333vw;
    text-align: center;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    padding: 0px;
  }
  .modal-logo {
    width: 100%;
    height: 100%;
    background: url("../images/favicon/modal.png") no-repeat center;
    background-size: cover;
    border-radius: 50px;
  }
  .modal-btn {
    position: absolute;

    text-align: center;
    margin-top: 0px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    font-size: 1.6rem;
    bottom: 41px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ffffff;
  }
}

@media all and (max-width: 1065px) {
  .insta-img {
    width: 70%;
  }
  .insta-img a {
    width: calc(100% / 3 - 10px);
  }
}
@media all and (max-width: 1130px) {
  .footer-img img {
    width: 60%;
    margin-left: 200px;
  }
}
@media all and (max-width: 915px) {
  .modal-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 33.333vw;
    height: 44.333vw;
    text-align: center;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    padding: 0px;
  }
  .modal-logo {
    width: 100%;
    height: 100%;
    background: url("../images/favicon/modal.png") no-repeat center;
    background-size: cover;
    border-radius: 50px;
  }
  .modal-btn {
    position: absolute;

    text-align: center;
    margin-top: 0px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    font-size: 1.6rem;
    bottom: 41px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ffffff;
  }
  .insta-viewmore #load-more img {
    display: inline-block;
    margin-bottom: 1.7px;
    width: 2%;
    height: 2%;
    align-items: center;
  }
}
@media all and (max-width: 768px) {
  .footer-inner {
    justify-content: center;
  }
  .insta-viewmore #load-more img {
    display: inline-block;
    margin-bottom: 1.7px;
    width: 2%;
    height: 2%;
    align-items: center;
  }
}
@media all and (max-width: 748px) {
  .modal-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 33.333vw;
    height: 44.333vw;
    text-align: center;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    padding: 0px;
  }
  .modal-logo {
    width: 100%;
    height: 100%;
    background: url("../images/favicon/modal.png") no-repeat center;
    background-size: cover;
    border-radius: 50px;
  }
  .modal-btn {
    position: absolute;

    text-align: center;
    margin-top: 0px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    font-size: 1.6rem;
    bottom: 41px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ffffff;
  }
  .insta-viewmore #load-more img {
    display: inline-block;
    margin-bottom: 1.7px;
    width: 2%;
    height: 2%;
    align-items: center;
  }
}
@media all and (max-width: 666px) {
  .modal-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 33.333vw;
    height: 44.333vw;
    text-align: center;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    padding: 0px;
  }
  .modal-logo {
    width: 100%;
    height: 100%;
    background: url("../images/favicon/modal.png") no-repeat center;
    background-size: cover;
    border-radius: 50px;
  }
  .modal-btn {
    position: absolute;

    text-align: center;
    margin-top: 0px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    font-size: 1.2rem;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ffffff;
  }
  .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #aaa8a8;
    cursor: pointer;
  }
  .footer-inner {
    flex-direction: column;
  }
  .footer-left-middle {
    width: 18%;
    display: flex;
    position: relative;
    font-size: 14px;
    border: solid 1px;
    border-radius: 20px;
    padding-left: 3%;
    cursor: pointer;
  }
  .footer-right {
    padding: 50 0px;
    line-height: 30px;
  }
  .footer-img img {
    width: 70%;
    margin-left: 110px;
  }
  .insta-viewmore #load-more img {
    display: inline-block;
    margin-bottom: 1.7px;
    width: 2%;
    height: 2%;
    align-items: center;
  }
}
@media all and (max-width: 560px) {
  .modal-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 33.333vw;
    height: 44.333vw;
    text-align: center;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    padding: 0px;
  }
  .modal-logo {
    width: 100%;
    height: 100%;
    background: url("../images/favicon/modal.png") no-repeat center;
    background-size: cover;
    border-radius: 50px;
  }
  .modal-btn {
    position: absolute;

    text-align: center;
    margin-top: 0px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    font-size: 1.2rem;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ffffff;
  }
  .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #aaa8a8;
    cursor: pointer;
  }
  .footer-left-middle {
    width: 18%;
    display: flex;
    position: relative;
    font-size: 12px;
    border: solid 1px;
    border-radius: 20px;
    padding-left: 3%;
    cursor: pointer;
  }

  .insta-img > a {
    width: calc(100% / 2 - 10px);
    height: 35vw;
    background-color: chartreuse;
  }
  .insta-viewmore #load-more img {
    display: inline-block;
    margin-bottom: 1.7px;
    width: 4%;
    height: 4%;
    align-items: center;
  }
}
@media all and (max-width: 500px) {
  .insta-viewmore #load-more img {
    display: inline-block;
    margin-bottom: 1.7px;
    width: 4%;
    height: 4%;
    align-items: center;
  }
  .modal-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 33.333vw;
    height: 44.333vw;
    text-align: center;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    padding: 0px;
  }
  .modal-logo {
    width: 100%;
    height: 100%;
    background: url("../images/favicon/modal.png") no-repeat center;
    background-size: cover;
    border-radius: 50px;
  }
  .modal-btn {
    position: absolute;

    text-align: center;
    margin-top: 0px;
    line-height: 33px;
    border-radius: 30px;
    font-size: 1.2rem;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 10%;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ffffff;
  }
  .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #aaa8a8;
    cursor: pointer;
  }
  .footer-left-middle {
    width: 18%;
    display: flex;
    position: relative;
    font-size: 12px;
    border: solid 1px;
    border-radius: 20px;
    padding-left: 1%;
    cursor: pointer;
  }
  .footer-img img {
    width: 80%;
    margin-left: 70px;
  }
  .footer-left-middle a img {
    position: absolute;
    width: 40%;
    margin-left: 20px;
    display: block;
    margin-top: 6px;
  }
}
@media all and (max-width: 480px) {
  .insta-bt {
    font-size: 4.1667vw;
    position: relative;
    font-weight: 600;
    color: #fff;
    padding: 0.1% 3.5%;
    border-radius: 50px;

    cursor: pointer;
  }
}
@media all and (max-width: 446px) {
  .insta-img > a {
    width: calc(100% / 2 - 10px);
    height: 35vw;
    background-color: chartreuse;
  }
  .footer-left-top > p {
    font-size: 20px;
  }

  .footer-left-middle {
    position: relative;
    width: 26%;
    height: 36px;
    padding-right: 1px;
  }
  .footer-left-middle p {
    font-size: 12px;
    line-height: 36px;
  }
  .insta-bt {
    font-size: 4.1667vw;
    position: relative;
    font-weight: 600;
    color: #fff;
    font-size: 4.1667vw;
    border-radius: 50px;
    position: relative;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 0.1% 3%;
    border-radius: 50px;
    cursor: pointer;
  }
  .load {
    font-size: 16px;
    opacity: 80%;
    cursor: pointer;
  }
  .insta-img > a {
    width: calc(100% / 1);
    height: 60vw;
    background-color: chartreuse;
  }
  .insta-viewmore #load-more img {
    display: inline-block;
    margin-bottom: 1.7px;
    width: 4%;
    height: 4%;
    align-items: center;
  }
  .modal-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 33.333vw;
    height: 44.333vw;
    text-align: center;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    padding: 0px;
  }
  .modal-logo {
    width: 100%;
    height: 100%;
    background: url("../images/favicon/modal.png") no-repeat center;
    background-size: cover;
    border-radius: 20px;
  }
  .modal-btn {
    position: absolute;

    text-align: center;
    margin-top: 0px;
    line-height: 33px;
    border-radius: 30px;
    font-size: 1.2rem;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 10%;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ffffff;
  }
  .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    color: #aaa8a8;
    cursor: pointer;
  }
}
@media all and (max-width: 400px) {
  .insta-bt {
    font-size: 4.1667vw;
    position: relative;
    font-weight: 600;
    color: #fff;
    padding: 0.1% 3.5%;
    border-radius: 50px;

    cursor: pointer;
  }
  .modal-btn {
    position: absolute;

    text-align: center;
    margin-top: 0px;
    line-height: 33px;
    border-radius: 30px;
    font-size: 1.2rem;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 10%;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ffffff;
  }
  .footer-left-middle {
    position: relative;
    width: 24%;
    height: 36px;
    padding-right: 1px;
  }
  .footer-left-middle p {
    font-size: 12px;
    line-height: 36px;
  }
}
@media all and (max-width: 393px) {
  .insta-img > a {
    width: calc(100% / 2 - 10px);
    height: 35vw;
    background-color: chartreuse;
  }
  .footer-wrap {
    width: 100%;
    background-color: #77bd82;
    color: #fff;
  }
  .footer-inner {
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  .footer-left {
    line-height: 30px;
    padding: 20px;
  }
  .footer-left-top > p {
    font-size: 20px;
  }
  .footer-left-top > span {
    font-size: 11px;
  }
  .footer-left-middle {
    width: 25%;
    display: flex;
    position: relative;
    font-size: 12px;
    border: solid 1px;
    border-radius: 20px;
    padding-left: 3%;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .footer-left-middle a img {
    position: absolute;
    width: 40%;
    margin-left: 20px;
    display: block;
    padding: 0px 0px 0px 5px;
    margin-top: 1px;
  }
  .footer-bt {
    font-size: 11px;
  }
  .footer-right {
    padding: 20px;
    line-height: 30px;
  }
  .footer-right-top p {
    font-size: 20px;
  }
  .footer-right-top > span {
    font-size: 17px;
    opacity: 80%;
  }
  .footer-right-bt p {
    font-size: 20px;
  }
  .load {
    font-size: 17px;
    opacity: 80%;
    cursor: pointer;
  }
  .footer-img {
    position: relative;
    width: 100%;
  }
  .footer-img img {
    width: 80%;

    margin: 40px;
  }
  .modal-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 33.333vw;
    height: 44.333vw;
    text-align: center;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    padding: 0px;
  }
  .modal-logo {
    width: 100%;
    height: 100%;
    background: url("../images/favicon/modal.png") no-repeat center;
    background-size: cover;
    border-radius: 20px;
  }
  .modal-btn {
    position: absolute;

    text-align: center;
    margin-top: 0px;
    line-height: 33px;
    border-radius: 30px;
    font-size: 1.2rem;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 10%;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ffffff;
  }
  .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    color: #aaa8a8;
    cursor: pointer;
  }
  .insta-viewmore #load-more img {
    display: inline-block;
    margin-bottom: 1.7px;
    width: 4%;
    height: 4%;
    align-items: center;
  }
  .insta-bt {
    font-size: 4.1667vw;
    position: relative;
    font-weight: 600;
    color: #fff;
    padding: 0.1% 3.5%;
    border-radius: 50px;

    cursor: pointer;
  }
}
@media all and (max-width: 320px) {
  #load-more {
    font-size: 13px;
  }
  .insta-viewmore.inner {
    padding: 13px;
  }
  .insta-img > a {
    width: calc(100% / 2 - 10px);
    height: 35vw;
    background-color: chartreuse;
  }
  .modal-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 350px;
    text-align: center;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    padding: 0px;
  }

  .modal-logo {
    width: 100%;
    height: 100%;
    background: url("../images/favicon/modal.png") no-repeat center;
    background-size: cover;
    border-radius: 20px;
  }
  .modal-btn {
    position: absolute;

    text-align: center;
    margin-top: 0px;
    line-height: 33px;
    border-radius: 30px;
    font-size: 1.2rem;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 10%;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ffffff;
  }
  .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 17px;
    color: #aaa8a8;
    cursor: pointer;
  }
  .insta-viewmore #load-more img {
    display: inline-block;
    margin-bottom: 1.7px;
    width: 4%;
    height: 4%;
    align-items: center;
  }
  .insta-bt {
    font-size: 4.1667vw;
    position: relative;
    font-weight: 600;
    color: #fff;
    padding: 0.1% 3.5%;
    border-radius: 50px;

    cursor: pointer;
  }
  .footer-left {
    line-height: 38px;
    padding: 20px;
  }
  .footer-left-top > p {
    font-size: 20px;
  }
  .footer-left-top > span {
    font-size: 11px;
  }
  .footer-left-middle {
    position: relative;
    width: 28%;
    height: 36px;
    padding-right: 1px;
  }
  .footer-left-middle p {
    font-size: 12px;
    line-height: 36px;
  }
  .footer-left-middle a img {
    position: absolute;
    width: 50%;
    margin-left: 20px;
    display: block;
    padding: 0px 0px 0px 5px;
    margin-top: 0px;
  }
  .footer-bt > p {
    font-size: 9px;
  }
  .footer-right {
    padding: 20px;
    line-height: 30px;
  }
  .footer-right-top p {
    font-size: 16px;
  }
  .footer-right-top > span {
    font-size: 12px;
    opacity: 80%;
  }
  .footer-right-bt p {
    font-size: 16px;
  }
  .load {
    font-size: 12px;
    opacity: 80%;
    cursor: pointer;
  }
  .footer-img {
    position: relative;
    width: 100%;
    padding: 0 20px;
  }
  .footer-img img {
    width: 100%;

    margin: 0;
  }
  .write-2::before {
    display: none;
  }
  .insta-img a .write-2 {
    display: none;
  }
}
