@charset "uft -8";
@import url("main.css");
@import url("font.css");
/* -- 채은 영역 -- */
/* modal창 */
body.active {
  overflow-y: auto;
}
.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 23%;
  height: 55%;
  text-align: center;
  line-height: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50px;
  padding: 0px;
}
.modal-logo {
  width: 100%;
  height: 100%;
  background: url("../images/favicon/modal.png") no-repeat center;
  background-size: cover;
  border-radius: 50px;
}
.modal-nonotic {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  color: #77bd82;
  top: 0;
}
.modal-close {
  position: absolute;
  top: 44px;
  right: 20px;
  font-size: 20px;
  color: #aaa8a8;
  cursor: pointer;
}

.modal-nonotic span {
  font-size: 30px;
  font-weight: 600;
  color: #77bd82;
}

.modal-btn {
  position: absolute;

  text-align: center;
  margin-top: 0px;
  height: 40px;
  line-height: 40px;
  border-radius: 30px;
  font-size: 16px;
  bottom: 65px;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ffffff;
}
/* instagram영역 */
.instagram-wrap {
  width: 100%;
  height: auto;
}
.insta-title {
  text-align: center;
  line-height: 28px;
  margin-bottom: 20px;
}
.insta-title p {
  font-size: 30px;
  color: black;
  font-weight: 600;
}
.insta-title span {
  font-size: 18px;
  color: #c0c0c0;
}
.insta-viewmore {
  padding: 0;
  margin-bottom: 30px;
  font-size: 1.8rem;
  text-align: center;
}
.insta-viewmore #load-more {
  color: #7d7d7d;
}
.insta-viewmore #load-more img {
  display: inline-block;
  margin-bottom: 1.7px;
  width: 1.2%;
  height: 1.2%;
  align-items: center;
}
.insta-img {
 position: relative;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* height: 140px; */

  gap: 10px;
  margin: 0 auto;
}
.insta-img > a {
  display: block;
  width: calc(100% / 4 - 10px);
  height: 25vw;
  max-height: 280px;
 /* height: 100%; */
  /* display: flex; */
  position: relative;
  overflow: hidden;
  border-radius: 15%;
}
.write-1{
  display: none;
}
.insta-img> a >.write-1{
  width: 100%;
  height: 100%;
}
.insta-img> a >.write-1 >img {
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.insta-img> a .write-2 {

  /* display: none; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;

}
.insta-img> a .write-2 
.insta-ft {
  position: relative;
  width: 100%;
  height: 100%;

  cursor: pointer;
}
.insta-bt {
  display: block;
  line-height: 2;
  position: relative;
  font-size: 2.5rem;
  /* font-size: 25px; */
  letter-spacing: 1px;
  font-weight: 600;
  color: #fff;
  /* height: 13%; */
  /* padding: 23px 80px; */
  padding: 0.3% 3%;
  border-radius: 50px;
  border: 1px solid #77bd82;
  background-color: #77bd82;
  cursor: pointer;
  margin: auto;
  margin-top: 60px;
}
.insta-bt > a {
  color: #fff;
}
/* footer */
.footer-wrap {
  width: 100%;
  background-color: #77bd82;
  color: #fff;
}
.footer-inner {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.footer-left {
  line-height: 38px;
  padding: 50px;
}
.footer-left-top > p {
  font-size: 30px;
}
.footer-left-top > span {
  font-size: 13px;
}
.footer-left-middle {
  width: 30%;
  display: flex;
  position: relative;
  font-size: 14px;
  border: solid 1px;
  border-radius: 20px;
  padding-left: 4%;
  cursor: pointer;
  margin-bottom: 10px;
}
.footer-left-middle a img {
  position: absolute;
  width: 40%;
  margin-left: 20px;
  display: block;
  padding: 0px 0px 0px 5px;
  margin-top: 2px;
}
.footer-bt {
  font-size: 13px;
}
.footer-right {
  padding: 50px;
  line-height: 30px;
}
.footer-right-top p {
  font-size: 20px;
}
.footer-right-top > span {
  font-size: 20px;
  opacity: 80%;
}
.footer-right-bt p {
  font-size: 20px;
}
.load {
  font-size: 16px;
  opacity: 80%;
  cursor: pointer;
}
.footer-img {
  position: relative;
  width: 100%;
}
.footer-img img {
  width: 60%;
  margin-left: 500px;
}
/* 반응형 insta */
@media all and (max-width: 1400px) {
  .modal-btn {
    position: absolute;

    text-align: center;
    margin-top: 0px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    font-size: 16px;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ffffff;
  }
}
@media all and (max-width: 1200px) {
  .modal-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 55%;
    text-align: center;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    padding: 0px;
  }
}

@media all and (max-width: 1065px) {
  .insta-img {
    width: 70%;
  }
  .insta-img a {
    width: calc(100% / 3 - 10px);
  }
}
@media all and (max-width: 1130px) {
  .footer-img img {
    width: 60%;
    margin-left: 200px;
  }
  .modal-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 55%;
    text-align: center;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    padding: 0px;
  }
}
@media all and (max-width: 768px) {
  .footer-inner {
    justify-content: center;
  }
  .modal-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 55%;
    text-align: center;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    padding: 0px;
  }
}
@media all and (max-width: 748px) {
  .modal-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 50%;
    text-align: center;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    padding: 0px;
  }
  .modal-btn {
    position: absolute;

    text-align: center;
    margin-top: 0px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    font-size: 14px;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ffffff;
  }
}
@media all and (max-width: 666px) {
  .modal-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 55%;
    text-align: center;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    padding: 0px;
  }
  .footer-inner {
    flex-direction: column;
  }
  .footer-left-middle {
    width: 18%;
    display: flex;
    position: relative;
    font-size: 14px;
    border: solid 1px;
    border-radius: 20px;
    padding-left: 3%;
    cursor: pointer;
  }
  .footer-right {
    padding: 50 0px;
    line-height: 30px;
  }
  .footer-img img {
    width: 70%;
    margin-left: 110px;
  }
}
@media all and (max-width: 560px) {
  .footer-left-middle {
    width: 18%;
    display: flex;
    position: relative;
    font-size: 12px;
    border: solid 1px;
    border-radius: 20px;
    padding-left: 3%;
    cursor: pointer;
  }
  .modal-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 47%;
    text-align: center;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    padding: 0px;
  }
  .insta-img > a {
   
    width: calc(100% /2 - 10px);
    height: 35vw;
    background-color: chartreuse;
  }
}
@media all and (max-width: 500px) {
  .modal-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 45%;
    text-align: center;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    padding: 0px;
  }
  .modal-btn {
    position: absolute;

    text-align: center;
    margin-top: 0px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    font-size: 14px;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ffffff;
  }
  .footer-left-middle {
    width: 18%;
    display: flex;
    position: relative;
    font-size: 12px;
    border: solid 1px;
    border-radius: 20px;
    padding-left: 1%;
    cursor: pointer;
  }
  .footer-img img {
    width: 80%;
    margin-left: 70px;
  }
  .footer-left-middle a img {
    position: absolute;
    width: 40%;
    margin-left: 20px;
    display: block;
    margin-top: 6px;
  }
}
@media all and (max-width: 446px) {
  .footer-left-top > p {
    font-size: 20px;
  }

  .footer-left-middle {
    width: 17%;
    display: flex;
    position: relative;
    font-size: 10px;
    border: solid 1px;
    border-radius: 20px;
    padding-left: 1%;
    cursor: pointer;
  }
  .footer-bt p {
    font-size: 12px;
  }

  .load {
    font-size: 16px;
    opacity: 80%;
    cursor: pointer;
  }
  .insta-img > a {
   
    width: calc(100% /1 );
    height: 60vw;
    background-color: chartreuse;
  }
}
@media all and (max-width: 393px) {
  .footer-wrap {
    width: 100%;
    background-color: #77bd82;
    color: #fff;
  }
  .footer-inner {
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  .footer-left {
    line-height: 30px;
    padding: 20px;
  }
  .footer-left-top > p {
    font-size: 20px;
  }
  .footer-left-top > span {
    font-size: 11px;
  }
  .footer-left-middle {
    width: 25%;
    display: flex;
    position: relative;
    font-size: 12px;
    border: solid 1px;
    border-radius: 20px;
    padding-left: 4%;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .footer-left-middle a img {
    position: absolute;
    width: 40%;
    margin-left: 20px;
    display: block;
    padding: 0px 0px 0px 5px;
    margin-top: 1px;
  }
  .footer-bt {
    font-size: 11px;
  }
  .footer-right {
    padding: 20px;
    line-height: 30px;
  }
  .footer-right-top p {
    font-size: 20px;
  }
  .footer-right-top > span {
    font-size: 17px;
    opacity: 80%;
  }
  .footer-right-bt p {
    font-size: 20px;
  }
  .load {
    font-size: 17px;
    opacity: 80%;
    cursor: pointer;
  }
  .footer-img {
    position: relative;
    width: 100%;
  }
  .footer-img img {
    width: 80%;

    margin: 40px;
  }
}
@media all and (max-width: 320px) {
  .modal-main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 35%;
    text-align: center;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    padding: 0px;
  }
  .modal-btn {
    position: absolute;

    text-align: center;
    margin-top: 0px;
    height: 50px;
    line-height: 40px;
    border-radius: 30px;
    font-size: 19px;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ffffff;
  }
  .modal-close {
    position: absolute;
    top: 44px;
    right: 20px;
    font-size: 40px;
    color: #aaa8a8;
    cursor: pointer;
  }
  .footer-left {
    line-height: 38px;
    padding: 20px;
  }
  .footer-left-top > p {
    font-size: 20px;
  }
  .footer-left-top > span {
    font-size: 11px;
  }
  .footer-left-middle {
    width: 27%;
    display: flex;
    position: relative;
    font-size: 12px;
    border: solid 1px;
    border-radius: 20px;
    padding-left: 2%;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .footer-left-middle a img {
    position: absolute;
    width: 40%;
    margin-left: 20px;
    display: block;
    padding: 0px 0px 0px 5px;
    margin-top: 6px;
  }
  .footer-bt > p {
    font-size: 9px;
  }
  .footer-right {
    padding: 20px;
    line-height: 30px;
  }
  .footer-right-top p {
    font-size: 16px;
  }
  .footer-right-top > span {
    font-size: 12px;
    opacity: 80%;
  }
  .footer-right-bt p {
    font-size: 16px;
  }
  .load {
    font-size: 12px;
    opacity: 80%;
    cursor: pointer;
  }
  .footer-img {
    position: relative;
    width: 100%;
  }
  .footer-img img {
    width: 100%;
    margin: 0;
  }
}
