@charset "utf-8";
/* 위로가기 버튼 */
/* top 버튼 */
.top-button {
  position: fixed;
  right: 30px;
  bottom: 60px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.top-button .chat-btn span {
  position: absolute;
  top: 30px;
  right: 80px;
  width: 180px;
  background-color: #fff;
  border-radius: 23px;
  padding: 8px 10px;
  text-align: center;
  box-shadow: 0px 3px 7px 0 rgb(0, 0, 0, 0.3);
  display: none;
}
.top-button .chat-btn:hover span {
  display: block;
}
.top-button .chat-btn {
  animation: updown 1.5s infinite;
  /* -webkit-animation:updown 1.5s infinite; */
  /* 다른 브라우저에서도 작동 될 수 있게 하기 위해 -webkit을 사용. */
}
.top-button .shop-btn {
  position: relative;
  display: block;
  width: 55px;
  border-radius: 50%;
  line-height: 55px;
  background-color: #fff;
  color: #77bd82;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  box-shadow: 0px 3px 7px 0 rgb(0, 0, 0, 0.3);
  letter-spacing: 0.5px;
}
.top-button .top-btn {
  position: relative;
  display: block;
  width: 55px;
  background-color: #77bd82;
  color: #fff;
  width: 55px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50%;
  line-height: 55px;
  text-align: center;
  box-shadow: 0px 3px 7px 0 rgb(0, 0, 0, 0.3);
}
.top-button .top-btn img {
  transform: rotate(180deg);
}
.top-button .top-btn img.up {
  transform: rotate(0deg);
  /* 이미지의 위아래를 전환시키기 위해 적용 */
}
/* -- 민주 영역 -- */
.header {
  /* position: fixed; */
  width: 95%;
  min-height: 50px;
  max-height: 85px;
  height: 6.427vw;
  display: flex;
  justify-content: space-between;

  /* background-color: antiquewhite; */
  position: absolute;
  top: 0.2%;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  z-index: 9999;
  border: 1px solid #fff;
  /* background-color: #0000003a; */
}

.logo {
  width: 13%;
  height: 100%;
  padding: 1%;
  border-right: 1px solid #fff;
  /* background-color: rgb(158, 118, 43); */
}
.logo a {
  position: relative;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1%;
  /* background-color: #77bd82; */
}
.logo a img {
  position: relative;
  display: block;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

/* 메뉴영역 */
.menu {
  width: 65%;
  height: 100%;
  /* background-color: aqua; */
  padding: 1% 10%;
  display: block;
  /* display: flex; */
  /* justify-content: space-between; */
  border-right: 1px solid #fff;
  z-index: 99999;
}
.menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  font-size: 1vw;
  align-self: center;
  justify-content: center;
}
.menu ul li {
  width: calc(100% / 5);
  height: 100%;
  display: flex;
  align-items: center;
}
.menu ul li a {
  width: 100%;
  display: block;
  color: #fff;
}
.menu ul li a span {
  position: relative;
}
.menu li > a > span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 1%;
  height: 1%;
  opacity: 0;
  background-color: #ffffff;
  transition: all 0.5s;
}
.menu li:hover span::after {
  width: 100%;
  text-align: right;
  opacity: 1;
}
/* 로그인&회원가입영역 */
.header-right {
  width: 20%;
  height: 100%;
  padding: 1%;
  font-size: 1vw;
  /* border-right: 1px solid #fff; */
  display: flex;
  justify-content: center;
}
.header-right ul {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1%;
}
.header-right a::after {
  content: "|";
  color: #fff;
  position: absolute;
  left: 45%;
}
.header-right a {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
}
/* 모바일메뉴 */
.mbmenu {
  display: none;
}
.mb-menu {
  display: none;
}
/* 모바일 쿠폰 */
.mb-copun {
  display: none;
}

.fa-solid {
  font-size: large;
}
/* 비주얼 */
.main {
  position: relative;
  width: 100%;
}
.main .swiper-slide {
  position: relative;
  width: 100vw;
  height: 500px;
}
.main .swiper-slide .banner {
  width: 100%;
}
.main .swiper-slide .mb-banner {
  object-fit: cover;
  display: none;
}
.main-txt {
  width: 70%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  text-align: center;
}
.main .swiper-slide .sub {
  color: #fff;
  font-weight: bold;
  font-size: 2vw;
  z-index: 999;
  padding-bottom: 3%;
}
.main .swiper-slide .smain {
  color: #fff;
  font-weight: bold;
  font-size: 4vw;
  z-index: 999;
}
.main .swiper-slide .button {
  font-size: 1vw;
  z-index: 999;
  border: 1px solid #fff;
  background: #ffffff00;
  color: #fff;
  margin-top: 10%;
  padding: 1%;
  border-radius: 40px;
}
.main .swiper-slide .button:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
}
.detail-form {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5%;
  margin: 100px auto;
}
.detail-form-left {
  width: 70%;
}
.img {
  width: 30%;
}
.img img {
  width: 100%;
  margin: 2%;
}
.detail-form-left {
  text-align: center;
}
.detail-form .price30 {
  text-decoration: line-through;
  color: #999;
}
.detail-form-left h1 {
  font-size: 2.5vw;
  line-height: 2;
}
.detail-form-left h6 {
  font-weight: bold;
  font-size: 1.8vw;
  padding: 1%;
}
.detail-form p {
  padding: 3%;
  color: #666;
}
.detail-form-left b {
  color: #000;
}

.detail-form-left .price27 {
  color: #77bd82;
}
.detail-form-left .price27::after {
  position: relative;
  content: "10%할인";
  color: #fff;
  background-color: firebrick;
  border-radius: 50px;
  padding: 1%;
  margin-left: 1%;
  font-size: 2rem;
  top: -5px;
  left: 0;
}
.detail-form-left p {
  font-size: 2vw;
  line-height: 1.2;
}
fieldset {
  background-color: #77bd8231;
  text-align: center;
  padding-bottom: 5%;
}
legend {
  padding: 5%;
  font-size: 1.5vw;
}
legend ul {
  text-align: center;
}
label {
  font-size: 1.3vw;
}
select {
  outline: none;
  text-align: center;
  font-size: 1.5vw;
  border-radius: 5px;
  border: 1px solid #77bd82;
  color: #333;
  margin-bottom: 3%;
}
.number-input .m,
.number-input .p {
  margin-top: 0.5%;
  padding: 4px 6px;
  font-size: 1vw;
  background: #77bd82;
  color: #fff;
  outline: none;
  border-radius: 5px;
  border: #fff;
  cursor: pointer;
  /* box-shadow: 0px 5px 0px 0px #48744f; */
}
.number-input .m:hover {
  background: #48744f;

  /* box-shadow: 0px 0px 0px 0px #48744f; */
}
.number-input .p:hover {
  background: #48744f;

  /* box-shadow: 0px 0px 0px 0px #48744f; */
}
.number-input input {
  text-align: center;
  outline: none;
  width: 10%;
  height: 30px;
  font-size: 1.6em;
  line-height: 1;
  border-radius: 5px;
  border: 1px solid #77bd82;
  color: #333;
  padding: 2.5%;
  width: 10;
}
.buy-form {
  margin-top: 2%;
  padding-bottom: 5%;
}
.buy-form .buy {
  margin: 10px;
  padding: 1%;
  border: 2px solid #77bd82;
  background-color: #fff;
  color: #77bd82;
  font-size: 1.3vw;
  border-radius: 50px;
  cursor: pointer;
  width: 20%;
}
.buy-form .sold {
  padding: 1%;
  border: 2px solid #77bd82;
  background-color: #77bd82;
  color: #fff;
  font-size: 1.3vw;
  border-radius: 50px;
  cursor: pointer;
  width: 20%;
}
.information ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 2vw;
  line-height: 2;
  position: relative;
}
.information li:hover a {
  border-bottom: 1px solid #000;
}
.infoimg {
  text-align: center;
}

.infoimg img {
  padding-top: 5%;
  width: 60%;
}

/* 반응형 */
@media screen and (max-width: 768px) {
  .header {
    position: absolute;
    top: 0.4%;
  }
  .menu ul li a {
    font-size: 1.5rem;
  }
  .header-right a {
    font-size: 1rem;
  }
  .fa-solid {
    font-size: small;
  }
  .logo a img {
    width: 100%;
  }
  .main .swiper-slide img {
    width: 100%;
    height: 450px;
  }
  .main-txt {
    width: 70%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    text-align: center;
  }
  .main .swiper-slide .sub {
    font-size: 2rem;
    padding-top: 40%;
  }
  .main .swiper-slide .smain {
    font-size: 3rem;
    word-break: keep-all;
    line-height: 1.3;
  }
  .main .swiper-slide .button {
    font-size: 1.5rem;
    margin-bottom: 3%;
    padding: 4%;
    border-radius: 40px;
  }
  .detail-form-left {
    text-align: center;
    width: 100%;
  }
  .detail-form .price30 {
    text-decoration: line-through;
    color: #999;
  }
  .detail-form-left h1 {
    font-size: 4vw;
    line-height: 2;
  }
  .detail-form-left h6 {
    font-weight: bold;
    font-size: 2.5vw;
    padding: 1%;
  }
  .detail-form {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5%;
    margin: 100px auto;
  }
  .detail-form-left p {
    padding: 2%;
    color: #666;
    font-size: 2vw;
  }
  .detail-form-left b {
    color: #000;
  }

  .detail-form-left .price27 {
    color: #77bd82;
  }
  .detail-form-left .price27::after {
    position: relative;
    content: "10%할인";
    color: #fff;
    background-color: firebrick;
    border-radius: 50px;
    margin-left: 1%;
    font-size: 1rem;
    top: -2px;
    left: 0;
  }
  fieldset {
    background-color: #77bd8231;
    text-align: center;
  }
  legend {
    padding: 5%;
    font-size: 2vw;
  }
  legend ul {
    text-align: center;
  }
  label {
    font-size: 1.5vw;
  }
  select {
    outline: none;
    text-align: center;
    font-size: 2vw;
    border-radius: 5px;
    border: 1px solid #77bd82;
    color: #333;
    margin-bottom: 3%;
  }
  .number-input .m,
  .number-input .p {
    margin-top: 0.5%;
    padding: 4px 6px;
    font-size: 2vw;
    background: #77bd82;
    color: #fff;
    outline: none;
    border-radius: 5px;
    border: #fff;
    cursor: pointer;
    /* box-shadow: 0px 5px 0px 0px #48744f; */
  }
  .number-input .m:hover {
    background: #48744f;

    /* box-shadow: 0px 0px 0px 0px #48744f; */
  }
  .number-input .p:hover {
    background: #48744f;

    /* box-shadow: 0px 0px 0px 0px #48744f; */
  }
  .number-input input {
    text-align: center;
    outline: none;
    width: 10%;
    height: 30px;
    font-size: 1.2em;
    line-height: 1;
    border-radius: 5px;
    border: 1px solid #77bd82;
    color: #333;
  }
  .buy-form {
    margin-top: 2%;
    padding-bottom: 5%;
  }
  .buy-form .buy {
    margin: 5px;
    padding: 1%;
    border: 2px solid #77bd82;
    background-color: #fff;
    color: #77bd82;
    font-size: 2vw;
    border-radius: 50px;
    cursor: pointer;
    width: 20%;
  }
  .buy-form .sold {
    padding: 1%;
    border: 2px solid #77bd82;
    background-color: #77bd82;
    color: #fff;
    font-size: 2vw;
    border-radius: 50px;
    cursor: pointer;
    width: 20%;
  }
  .information ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 2rem;
    line-height: 2;
    position: relative;
  }
  .infoimg img {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .menu {
    display: none;
  }
  .header-right {
    display: none;
  }
  .header {
    border: none;
    top: 20px;
  }
  .logo {
    border: none;
    width: 30%;
  }
  .logo a img {
    width: 100%;
  }
  .main .swiper-slide .banner {
    width: 100%;
    display: none;
  }
  .main .swiper-slide .mb-banner {
    width: 100%;
    display: block;
  }
  .main-txt {
    width: 70%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    text-align: center;
  }
  .main .swiper-slide .sub {
    padding-top: 100px;
    font-size: 2rem;
  }
  .main .swiper-slide .smain {
    font-size: 3rem;
    word-break: keep-all;
    line-height: 1.3;
  }
  .main .swiper-slide .button {
    font-size: 1.5rem;
    margin-bottom: 3%;
    padding: 4%;
    border-radius: 40px;
  }
  .detail-form {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    margin: 15px auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .detail-form-left {
    width: 80%;
  }
  .detail-form-left h1 {
    font-size: 7vw;
  }
  .detail-form-left h6 {
    font-weight: bold;
    font-size: 4vw;
    padding: 1%;
  }
  .detail-form-left .price27::after {
    position: relative;
    content: "10%할인";
    color: #fff;
    background-color: firebrick;
    border-radius: 50px;
    padding: 1%;
    margin-left: 1%;
    font-size: 1.5rem;
    top: -3px;
    left: 0;
  }
  .detail-form-left .price27 {
    color: #77bd82;
  }
  .detail-form-left p {
    word-break: keep-all;
    font-size: 3.5vw;
    line-height: 1.6;
  }
  legend {
    line-height: 1;
    padding: 3%;
    font-size: 1.5rem;
  }
  legend ul {
    text-align: center;
  }
  label {
    font-size: 1.5rem;
    margin-top: 5px;
  }
  select {
    margin-top: 5%;
    outline: none;
    text-align: center;
    font-size: 1.5rem;
    padding: 1%;
  }
  .number-input .m,
  .number-input .p {
    margin-top: 2%;
    padding: 3px;
    font-size: 1.5rem;
    width: 7%;
    height: 20%;
  }

  .number-input input {
    margin-top: 5px;
    text-align: center;
    outline: none;
    width: 10%;
    font-size: 1.3rem;
    width: 20%;
  }
  .buy-form {
    margin-top: 20px;
  }
  .buy-form .buy {
    margin: 5px;
    padding: 2%;
    width: 30%;
    border: 2px solid #77bd82;
    background-color: #fff;
    color: #77bd82;
    font-size: 1.5rem;
  }
  .buy-form .sold {
    padding: 2%;
    width: 30%;
    border: 2px solid #77bd82;
    background-color: #77bd82;
    color: #fff;
    font-size: 1.5rem;
  }
  .information ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 2rem;
    line-height: 2;
    position: relative;
  }
  .infoimg {
    text-align: center;
  }
  .infoimg img {
    padding-top: 5%;
    width: 70%;
  }
  /* 모바일메뉴 */
  .header {
    width: 90%;
  }
  .mbmenu {
    position: relative;
    display: none;
    width: 80%;
    height: 450px;
    position: absolute;
    top: 57px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
  }
  .mbmenu ul {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 50px;
    font-size: 2rem;
  }
  .mbmenu ul li a {
    color: #fff;
    text-align: center;
  }
  .mb-menu {
    display: block;
  }
  .mb-menu i {
    font-size: 20px;
    color: #fff;
  }
    /*gotop*/
    .top-button .shop-btn {
      position: relative;
      display: inline-block; /* display 속성을 inline-block으로 변경 */
      width: 30px; /* 너비를 20px로 변경 */
      height: 30px; /* 높이를 20px로 추가 */
      border-radius: 50%;
      line-height: 35px; /* line-height를 20px로 변경 */
      background-color: #fff;
      color: #77bd82;
      font-size: 10px; /* font-size를 10px로 변경 */
      font-weight: 500;
      text-align: center;
      box-shadow: 0px 2px 5px 0 rgb(0, 0, 0, 0.3); /* 그림자 크기 조정 */
      letter-spacing: 0.3px; /* letter-spacing을 0.3px로 변경 */
    }
    .top-button .top-btn {
      position: relative;
      display: inline-block; /* display 속성을 inline-block으로 변경 */
      width: 30px; /* 너비를 20px로 변경 */
      height: 30px; /* 높이를 20px로 추가 */
      border-radius: 50%;
      line-height: 35px; /* line-height를 20px로 변경 */
      background-color: #77bd82;
      color: #fff;
      font-size: 10px; /* font-size를 10px로 변경 */
      font-weight: 500;
      text-align: center;
      box-shadow: 0px 2px 5px 0 rgb(0, 0, 0, 0.3); /* 그림자 크기 조정 */
      letter-spacing: 0.3px; /* letter-spacing을 0.3px로 변경 */
    }
}
@media screen and (max-width: 320px) {
  .menu {
    display: none;
  }
  .header-right {
    display: none;
  }
  .header {
    border: none;
    top: 10px;
  }

  .logo {
    width: 30%;
    border: none;
  }
  .logo a img {
    width: 100%;
  }
  .main .swiper-slide .banner {
    width: 100%;
    display: none;
  }
  .main .swiper-slide .mb-banner {
    width: 100%;
    display: block;
  }
  .main-txt {
    width: 70%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    text-align: center;
  }
  .main .swiper-slide .sub {
    padding-top: 100px;
    font-size: 1.2rem;
  }
  .main .swiper-slide .smain {
    font-size: 2.3rem;
    word-break: keep-all;
    line-height: 1.3;
  }
  .main .swiper-slide .button {
    font-size: 1.5rem;
    margin-bottom: 3%;
    padding: 4%;
    border-radius: 40px;
  }
  .detail-form {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    margin: 15px auto;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%;
  }
  .detail-form-left h1 {
    font-size: 8vw;
  }
  .detail-form-left h6 {
    font-weight: bold;
    font-size: 5vw;
    padding: 3%;
  }
  .detail-form-left .price27::after {
    position: relative;
    content: "10%할인";
    color: #fff;
    background-color: firebrick;
    border-radius: 50px;
    padding: 2px;
    margin-left: 1%;
    font-size: 1rem;
    top: -2px;
    left: 0;
  }
  .detail-form-left .price27 {
    color: #77bd82;
  }

  legend {
    line-height: 1;
    padding: 3%;
    font-size: 1.5rem;
  }
  legend ul {
    text-align: center;
  }
  label {
    display: block;
    font-size: 1.5rem;
    margin-top: 5px;
  }
  select {
    outline: none;
    text-align: center;
    font-size: 1.3rem;
    padding: 1%;
  }
  option {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .number-input .m,
  .number-input .p {
    margin-top: 2%;
    padding: 3px;
    font-size: 1.5rem;
    width: 10%;
    height: 20%;
  }

  .number-input input {
    margin-top: 5px;
    text-align: center;
    outline: none;
    width: 0%;
    font-size: 1.3rem;
    width: 20%;
  }
  .buy-form {
    margin-top: 10px;
  }
  .buy-form .buy {
    margin: 5px;
    padding: 2%;
    width: 30%;
    border: 2px solid #77bd82;
    background-color: #fff;
    color: #77bd82;
    font-size: 1.5rem;
  }
  .buy-form .sold {
    padding: 2%;
    width: 30%;
    border: 2px solid #77bd82;
    background-color: #77bd82;
    color: #fff;
    font-size: 1.5rem;
  }
  .information ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 2rem;
    line-height: 2;
    position: relative;
  }
  .infoimg {
    text-align: center;
  }
  .infoimg img {
    padding-top: 5%;
    width: 70%;
  }
  /* 모바일메뉴 */
  .header {
    width: 90%;
  }
  .mbmenu {
    position: relative;
    display: none;
    width: 80%;
    height: 450px;
    position: absolute;
    top: 57px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
  }
  .mbmenu ul {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 50px;
    font-size: 2rem;
  }
  .mbmenu ul li a {
    color: #fff;
    text-align: center;
  }
  .mb-menu {
    display: block;
  }
  .mb-menu i {
    font-size: 20px;
    color: #fff;
  }
  /*gotop*/
  .top-button .shop-btn {
    position: relative;
    display: inline-block; /* display 속성을 inline-block으로 변경 */
    width: 30px; /* 너비를 20px로 변경 */
    height: 30px; /* 높이를 20px로 추가 */
    border-radius: 50%;
    line-height: 35px; /* line-height를 20px로 변경 */
    background-color: #fff;
    color: #77bd82;
    font-size: 10px; /* font-size를 10px로 변경 */
    font-weight: 500;
    text-align: center;
    box-shadow: 0px 2px 5px 0 rgb(0, 0, 0, 0.3); /* 그림자 크기 조정 */
    letter-spacing: 0.3px; /* letter-spacing을 0.3px로 변경 */
  }
  .top-button .top-btn {
    position: relative;
    display: inline-block; /* display 속성을 inline-block으로 변경 */
    width: 30px; /* 너비를 20px로 변경 */
    height: 30px; /* 높이를 20px로 추가 */
    border-radius: 50%;
    line-height: 35px; /* line-height를 20px로 변경 */
    background-color: #77bd82;
    color: #fff;
    font-size: 10px; /* font-size를 10px로 변경 */
    font-weight: 500;
    text-align: center;
    box-shadow: 0px 2px 5px 0 rgb(0, 0, 0, 0.3); /* 그림자 크기 조정 */
    letter-spacing: 0.3px; /* letter-spacing을 0.3px로 변경 */
  }
}
