@charset "utf-8";
@import url("main.css");
@import url("font.css");

/*-- 희승 영역 -- */
/* 맞춤사료 영역*/
.fit {
  width: 100%;
  color: #2f2f2f;
  margin: 30px 0;
  /* background-color: #FAFAFA; */
}

.fit .inner {
  display: flex;
  position: relative;
  overflow: hidden;

}

/* 맞춤사료 메인화면 */
.fit-main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 46.875vw;
  max-height: 900px;
}

.fit-main p.fit-main-or {
  font-size: 15px;
  font-weight: 100;
  color: #9e9e9e;
  margin-bottom: 10px;
  text-align: end;
  position: relative;
}

.fit-main p.fit-main-or::after {
  content: "";
  width: 47%;
  height: 1px;
  background-color: #9e9e9e;
  position: absolute;
  left: 0;
  top: 45%;
  transform: translateY(-50%);
  vertical-align: middle;
}

.fit-main h2 {
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 50px;
}

.fit-img-container {
  width: 100%;
  max-width: 400px;
  max-height: 370px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.fit-main img.fit-main-img {
  width: 100%;
  height: 100%;
  /* padding-bottom: 20px; */
}

.fit-main-bg {
  font-family: "Abhaya Libre", serif;
  width: 100%;
  color: #77bd82;
  opacity: 0.26;
  font-size: 300px;
  font-weight: 700;
  position: absolute;
  z-index: 0;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 50px;
  text-align: center;
  word-wrap: nowrap;
  font-style: italic;
  /* margin: 0 auto; */
}

.fit-main-bg span:nth-child(1) {
  margin-right: 150px;
}

.fit-main-bg span:nth-child(2) {
  margin-left: 30px;
}

.fit-main p.fit-description {
  font-size: 17px;
  line-height: 160%;
  margin-bottom: 40px;
}

/* .fit-main p:first-child span {
    width: 100px;
    height: 5px;
    background-color: #2f2f2f;
  } */

.fit-btn-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.fit-main button {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  padding: 18px 60px;
  border-radius: 60px;
  border: 1px solid #77bd82;
  background-color: #77bd82;
  cursor: pointer;
}

/* 맞춤사료 기본정보 작성*/
.fit-info-wrap {
  display: none;
  width: 100%;
  height: 46.875vw;
  max-height: 900px;
}

.fit h2.info-title {
  font-size: 60px;
  font-weight: 600;
  color: #2f2f2f;
  line-height: 130%;
  margin-bottom: 15px;
}

.fit h2.info-title > span {
  font-weight: 700;
  color: #77bd82;
}

.fit p.sub-title {
  font-size: 20px;
  font-weight: 100;
  color: #d0d0d0;
  margin-bottom: 100px;
}

.fit-info {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 80px;
}

.fit-info label {
  font-size: 20px;
  font-weight: 600;
  margin: 30px 0 15px;
}

.fit-info label > span {
  color: #fd6d6d;
}
.fit-info input {
  font-size: 20px;
  width: 100%;
  max-height: 100px;
  padding: 15px 10px;
}

.fit-info input[type="date"] {
  color: #949494;
  font-weight: 100;
}

.name-info,
.date-info,
.gender-info {
  display: flex;
  flex-direction: column;
}

.gender-info-button {
  display: flex;
  gap: 2.5%;
}

.gender-info-button input {
  background: #fff;
  cursor: pointer;
  border: 2px solid #c8c8c8;
}

.gender-info-button input:hover {
  border: 2px solid #77bd82;
}

.fit-bt-button {
  display: flex;
  justify-content: center;
  gap: 1%;
  font-size: 20px;
}

.fit-bt-button a {
  width: auto;
  color: #646464;
}

.fit-bt-button button {
  width: 100%;
  max-width: 250px;
  border: 1px solid #c0c0c0;
  border-radius: 80px;
  background-color: #fff;
  padding: 15px 65px;
  cursor: pointer;
}

.fit-bt-button button.fit-next {
  background-color: #77bd82;
  color: #fff;
  border: 1px solid #77bd82;
}

/* 뉴스 영역*/
.news {
  /* position: relative; */
  top: 0;
  width: 100%;
  height: 48.44vw;
  max-height: 930px;
  /* height: 100%; */
  background-color: aqua;
  background: url(../images/hee/news-bg-dark.png) no-repeat center/cover;
}

.news .inner {
  position: relative;
  padding-top: 200px;
}

.news p.news-subTitle {
  font-size: 25px;
  color: #fff;
  margin-bottom: 25px;
}

.news h2.news-title {
  font-family: "Abhaya Libre", serif;
  font-size: 120px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 65px;
}

button.news-more-all {
  position: absolute;
  right: 0;
  top: 39%;
  width: 100%;
  min-width: 100px;
  max-width: 100px;
  padding: 10px 20px;
  font-size: 12px;
  border: none;
  border-radius: 40px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.news .swiper-slide {
  overflow: hidden;
}

.news-box {
  width: 100%;
  max-height: 323px;
  max-width: 450px;
  background-color: #fff;
  padding: 35px;
}

.news-box > h3 {
  font-size: 23px;
  font-weight: 500;
  line-height: 126%;
  margin-bottom: 26px;
  /* 2줄말줄임 */
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-box > p {
  margin-bottom: 70px;
  font-size: 14px;
  font-weight: 200;
  color: #646464;
  line-height: 150%;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-box-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-box-bottom button {
  width: 100%;
  min-width: 100px;
  max-width: 100px;
  padding: 10px 20px;
  font-size: 12px;
  border: 1px solid #646464;
  border-radius: 40px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.news-box-bottom button:hover {
  background-color: #77bd82;
  border: 1px solid #77bd82;
}

.news-box-bottom button:hover > a {
  color: #fff;
  font-weight: 600;
}

.news-box-bottom p {
  font-size: 14px;
  color: #646464;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #fff; /* 원하는 색상으로 변경 */
  /* color: #77bd82; */
}
