@charset "utf-8";

@import url("main.css");
@import url("font.css");

html {
  height: auto;
}

.login_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #77bd82;
  width: 100%;
  padding: 1.8% 0 0;
}

.login-header-wrap {
  width: 100%;
  /* height: 31.458vw; */
  height: 600px;
  background-color: #77bd82;
  /* height: 700px; */
}

.login-header-wrap > .header {
  width: 95%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 5% auto; */
}

/* .login-main {
  background-color: #fff;
  display: block;
  width: 100%;
  position: fixed;
  z-index: 99;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
} */

/* 로그인 창 */
.login-main-wrap {
  position: relative;
  display: block;
  z-index: 999999;
  width: 100%;
  height: 100%;
  text-align: center;
}

.login-main {
  position: absolute;
  z-index: 9999999;
  left: 50%;
  /* bottom: 0; */
  transform: translateX(-50%);
  border-radius: 10px;
  width: 500px;
  /* width: 35%; */
  /* height: 46.875vw; */
  height: 760px;
  margin: -19% auto;
  padding: 3.5% 2%;
  background-color: #fff;
  margin-bottom: 10%;
  /* box-shadow: #777; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login_txt > h1 {
  font-size: 4.5rem;
  margin-bottom: 2.5%;
  font-weight: bold;
}

.login_txt > p {
  font-size: 1.2rem;
  color: #777;
}

.login-enter-wrap {
  display: flex;
  flex-direction: column;
  gap: 0%;
  margin: 15% 0 3%;
}

.login-enter-wrap > input {
  width: 77%;
  margin: 1% auto;
  padding: 3.5% 3%;
  font-size: 1.8rem;
  border-radius: 3px;
  border: 1px solid #777;
}

.login_serch {
  position: relative;
  width: 88%;
  display: flex;
  justify-content: flex-end;
  gap: 2%;
  font-size: 1.4rem;
}

.login_serch > span::after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #333;
  position: absolute;
}

.login_btn-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 11%;
}

.login_btn-wrap > button {
  width: 77%;
  margin: 1% auto;
  padding: 3.5% 3%;
  font-size: 1.8rem;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
}

.login_btn-wrap .loginBtn {
  background-color: #77bd82;
}

.login_btn-wrap .loginBtn > a {
  color: #fff;
}

.login_btn-wrap .loginBtn .login_btn-wrap .signUpBtn {
  background-color: #fff;
  color: #77bd82;
  border: 1px solid #77bd82;
}

/* sns 로그인 */
.sns-login-txt {
  margin: 12% 0 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 5%; */
}

.sns-login-txt span {
  position: relative;
  display: block;
  width: 100%;
  color: #777;
  font-size: 1.7rem;
}

/* .sns-login-txt span::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12%;
  width: 25%;
  height: 0.5px;
  background-color: #777;
  align-items: center;
}

.sns-login-txt span::before {
  content: "";
  display: block;
  position: absolute;
  right: 12%;
  width: 25%;
  height: 0.5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #777;
  align-items: center;
} */

.sns-login-btn {
  display: flex;
  justify-content: center;
  /* gap: 19.5%; */
  margin: 0 4% 3%;
}

.snsLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snsLogin a {
  display: block;
  width: 35%;
}

.snsLogin a:nth-child(3) {
  border: 1px solid #afafaf;
  border-radius: 50px;
}

.snsLogin img {
  width: 100%;
  margin-bottom: 25%;
}

.snsLogin span {
  font-size: 1.6rem;
}

/* 로그인 중간 배경 */
.login_mid_bg {
  display: block;
  width: 100%;
  height: 600px;
  background-color: #fff;
}

.login_mid_bg > a {
  display: none;
}

/* 로그인 푸터 */
.login_wrap footer {
  margin-top: 50%;
}

.login_wrap .footer-wrap {
  color: #333;
  background-color: #fff;
}

.login_wrap .footer-img {
  filter: invert(13%) sepia(0%) saturate(4382%) hue-rotate(151deg) brightness(96%) contrast(80%);
  margin-bottom: 3%;
}

.login_wrap .footer-img img {
  width: 19%;
  margin-left: 2.5%;
}

/*  */
.non-members {
  width: 100%;
}

.non-members button {
  width: 50%;
  padding: 3.5% 3%;
  font-size: 1.6rem;
}

@media screen and (max-width: 1450px) {
  .login-header-wrap {
    width: 100%;
    /* height: 31.458vw; */
    height: 520px;
    background-color: #77bd82;
    /* height: 700px; */
  }
}

@media screen and (max-width: 1300px) {
  .login-header-wrap {
    width: 100%;
    /* height: 31.458vw; */
    height: 470px;
    background-color: #77bd82;
    /* height: 700px; */
  }
}

@media screen and (max-width: 1100px) {
  .login-header-wrap {
    width: 100%;
    height: 42.7273vw;
    background-color: #77bd82;
  }

  .login_mid_bg {
    display: block;
    width: 100%;
    height: 650px;
    background-color: #fff;
  }
}

@media screen and (max-width: 1000px) {
  .login_mid_bg {
    display: block;
    width: 100%;
    height: 650px;
    background-color: #fff;
  }
}

@media screen and (max-width: 760px) {
  .login_wrap {
    position: relative;
    padding: 0;
    background-color: #fff;
    margin-bottom: 100px;
  }

  .login-header-wrap {
    display: none;
  }

  /* 로그인 창 */

  .login-main {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    transform: none;
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 70px 40px;
  }

  .login-enter-wrap > input {
    width: 98%;
    height: 60px;
    padding: 0 15px;
    margin: 1% auto;
    font-size: 1.8rem;
    border-radius: 3px;
    border: 1px solid #777;
  }

  .login_txt > h1 {
    margin: 0 0 10px;
  }

  .login_serch {
    width: 98%;
    justify-content: center;
  }

  .login_serch > a {
    color: #8d8d8d;
  }

  .login_serch > span::after {
    background-color: #8d8d8d;
  }

  .login_btn-wrap {
    margin-top: 65px;
  }

  .login_btn-wrap > a > button {
    display: block;
    width: 98%;
    height: 60px;
    text-align: center;
  }

  .login_mid_bg {
    display: none;
  }

  .login-enter-wrap {
    margin: 76px 0 23px;
  }

  .sns-login-txt {
    margin: 40px 0 15px;
  }

  .sns-login-btn {
    gap: 20px;
    margin: 0;
  }

  .sns-login-btn span {
    display: none;
  }

  .snsLogin a {
    display: block;
    width: 45px;
  }

  .snsLogin img {
    margin-bottom: 0;
  }

  /* 푸터 */
  .footer-wrap {
    display: none;
    border: none;
  }
}

@media screen and (max-width: 480px) {
  .login-main {
    padding: 70px 20px;
  }
}
