@charset "utf-8";
@import url(main.css);
@import url(font.css);
/* 위로가기 버튼 */
/* top 버튼 */
.top-button {
  position: fixed;
  right: 30px;
  bottom: 60px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.top-button .chat-btn span {
  position: absolute;
  top: 30px;
  right: 80px;
  width: 180px;
  background-color: #fff;
  border-radius: 23px;
  padding: 8px 10px;
  text-align: center;
  box-shadow: 0px 3px 7px 0 rgb(0, 0, 0, 0.3);
  display: none;
}
.top-button .chat-btn:hover span {
  display: block;
}
.top-button .chat-btn {
  animation: updown 1.5s infinite;
  /* -webkit-animation:updown 1.5s infinite; */
  /* 다른 브라우저에서도 작동 될 수 있게 하기 위해 -webkit을 사용. */
}
.top-button .shop-btn {
  position: relative;
  display: block;
  width: 55px;
  border-radius: 50%;
  line-height: 55px;
  background-color: #fff;
  color: #77bd82;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  box-shadow: 0px 3px 7px 0 rgb(0, 0, 0, 0.3);
  letter-spacing: 0.5px;
}
.top-button .top-btn {
  position: relative;
  display: block;
  width: 55px;
  background-color: #77bd82;
  color: #fff;
  width: 55px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50%;
  line-height: 55px;
  text-align: center;
  box-shadow: 0px 3px 7px 0 rgb(0, 0, 0, 0.3);
}
.top-button .top-btn img {
  transform: rotate(180deg);
}
.top-button .top-btn img.up {
  transform: rotate(0deg);
  /* 이미지의 위아래를 전환시키기 위해 적용 */
}
/* -- 민주 영역 -- */
.header {
  /* position: fixed; */
  width: 95%;
  min-height: 50px;
  max-height: 85px;
  height: 6.427vw;
  display: flex;
  justify-content: space-between;

  /* background-color: antiquewhite; */
  position: absolute;
  top: 0.7%;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  z-index: 9999;
  border: 1px solid #fff;
  /* background-color: #0000003a; */
}

.logo {
  width: 13%;
  height: 100%;
  padding: 1%;
  border-right: 1px solid #fff;
  /* background-color: rgb(158, 118, 43); */
}
.logo a {
  position: relative;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1%;
  /* background-color: #77bd82; */
}
.logo a img {
  position: relative;
  display: block;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

/* 메뉴영역 */
.menu {
  width: 65%;
  height: 100%;
  /* background-color: aqua; */
  padding: 1% 10%;
  display: block;
  /* display: flex; */
  /* justify-content: space-between; */
  border-right: 1px solid #fff;
  z-index: 99999;
}
.menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  font-size: 1vw;
  align-self: center;
  justify-content: center;
}
.menu ul li {
  width: calc(100% / 5);
  height: 100%;
  display: flex;
  align-items: center;
}
.menu ul li a {
  width: 100%;
  display: block;
  color: #fff;
}
.menu ul li a span {
  position: relative;
}
.menu li > a > span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 1%;
  height: 1%;
  opacity: 0;
  background-color: #ffffff;
  transition: all 0.5s;
}
.menu li:hover span::after {
  width: 100%;
  text-align: right;
  opacity: 1;
}
/* 로그인&회원가입영역 */
.header-right {
  width: 20%;
  height: 100%;
  padding: 1%;
  font-size: 1vw;
  /* border-right: 1px solid #fff; */
  display: flex;
  justify-content: center;
}
.header-right ul {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1%;
}
.header-right a::after {
  content: "|";
  color: #fff;
  position: absolute;
  left: 45%;
}
.header-right a {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
}
/* 모바일메뉴 */
.mbmenu {
  display: none;
}
.mb-menu {
  display: none;
}
/* 모바일 쿠폰 */
.mb-copun {
  display: none;
}

.fa-solid {
  font-size: large;
}
/* 비주얼 */
.main {
  position: relative;
  width: 100%;
}
.main .swiper-slide {
  position: relative;
  width: 100vw;
}
.main .swiper-slide .banner {
  width: 100%;
}
.main .swiper-slide .mb-banner {
  object-fit: cover;
  display: none;
}
.main-txt {
  width: 70%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  text-align: center;
}
.main .swiper-slide .sub {
  color: #fff;
  font-weight: bold;
  font-size: 2vw;
  z-index: 999;
  padding-bottom: 3%;
}
.main .swiper-slide .smain {
  color: #fff;
  font-weight: bold;
  font-size: 4vw;
  z-index: 999;
}
.main .swiper-slide .button {
  font-size: 1vw;
  z-index: 999;
  border: 1px solid #fff;
  background: #ffffff00;
  color: #fff;
  margin-top: 10%;
  padding: 1%;
  border-radius: 40px;
}
.main .swiper-slide .button a {
  color: #fff;
}
.main .swiper-slide .button:hover a {
  color: #000;
  cursor: pointer;
}
.main .swiper-slide .button:hover {
  background-color: #fff;
}

/* 컨텐츠 */
.content .text {
  position: relative;
  font-size: 2vw;
  text-align: center;
  padding: 1%;
  margin-top: 6%;
  margin-bottom: 6%;
  line-height: 1.5;
}
.content span {
  color: #77bd82;
}
.content i {
  color: #77bd82;
}
/* 프로모션 */
.promotion {
  padding: 3%;
  background-color: #77bd8231;
}
.organic {
  position: relative;
  margin-bottom: 6%;
  width: 63%;
  /* height: 100%; */
  margin: auto;
  padding: 3%;
}
.organic .swiper-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
}
.organic .swiper-slide img {
  width: 30%;
  height: 100%;
}
.organic .promotion-info {
  width: 50%;
  /* height: 30%; */
}
.organic .promotion-info .title {
  font-size: 3vw;
  line-height: 2;
}
.organic .promotion-info .sub-title {
  font-size: 1.8vw;
  line-height: 1;
}
.organic .promotion-info .price {
  font-size: 2vw;
  line-height: 1.5;
}
.organic .promotion-info .buy {
  margin-top: 20%;
  font-size: 2.5rem;
  /* font-size: 25px; */
  letter-spacing: 1px;
  font-weight: 600;
  color: #fff;
  /* padding: 23px 80px; */
  padding: 0.3% 3%;
  border-radius: 50px;
  border: 1px solid #77bd82;
  background-color: #77bd82;
  cursor: pointer;
  /* line-height: 2; */
}
.organic .promotion-info .buy a {
  color: #fff;
}
.organic .promotion-info span {
  color: #77bd82;
}
.promotion {
  position: relative;
}
.organic .promotion-info .buy {
  font-size: 3rem;
  padding: 4%;
  width: 60%;
}
.promotion .swiper-button-next::after {
  display: none;
}
.promotion .swiper-button-next i {
  position: absolute;
  font-size: 80px;
  right: 280px;
  color: #77bd82;
}
.promotion .swiper-button-prev::after {
  display: none;
}

.promotion .swiper-button-prev i {
  position: absolute;
  font-size: 80px;
  left: 280px;
  color: #77bd82;
}
@media screen and (max-width: 1350px) {
  .promotion {
    position: relative;
  }
  .promotion .swiper-button-next::after {
    display: none;
  }
  .promotion .swiper-button-next i {
    position: absolute;
    font-size: 80px;
    right: 200px;
    color: #77bd82;
  }
  .promotion .swiper-button-prev::after {
    display: none;
  }

  .promotion .swiper-button-prev i {
    position: absolute;
    font-size: 80px;
    left: 200px;
    color: #77bd82;
  }
}
@media screen and (max-width: 1000px) {
  .promotion {
    position: relative;
  }
  .promotion .swiper-button-next::after {
    display: none;
  }
  .promotion .swiper-button-next i {
    position: absolute;
    font-size: 80px;
    right: 150px;
    color: #77bd82;
  }
  .promotion .swiper-button-prev::after {
    display: none;
  }

  .promotion .swiper-button-prev i {
    position: absolute;
    font-size: 80px;
    left: 150px;
    color: #77bd82;
  }
}
@media screen and (max-width: 800px) {
  .promotion {
    position: relative;
  }
  .promotion .swiper-button-next::after {
    display: none;
  }
  .promotion .swiper-button-next i {
    position: absolute;
    font-size: 80px;
    right: 100px;
    color: #77bd82;
  }
  .promotion .swiper-button-prev::after {
    display: none;
  }

  .promotion .swiper-button-prev i {
    position: absolute;
    font-size: 80px;
    left: 100px;
    color: #77bd82;
  }
}
@media screen and (max-width: 768px) {
  .menu ul li a {
    font-size: 1.3rem;
  }
  .header-right a {
    font-size: 1rem;
  }
  .content .text {
    font-size: 2rem;
  }
  .main .swiper-slide .sub {
    font-size: 2rem;
  }
  .main .swiper-slide .button {
    font-size: 2rem;
    padding: 2%;
  }
  .organic .promotion-info .buy {
    font-size: 2rem;
    padding: 4%;
  }
  .organic .swiper-button-prev {
    left: -2px;
  }
  .organic .promotion-info .buy {
    font-size: 1.5rem;
  }
  .organic .promotion-info .title {
    font-size: 2.5rem;
    line-height: 2;
    display: block;
  }
  .organic .promotion-info .sub-title {
    font-size: 1.8rem;
    line-height: 1;
  }
  .organic .promotion-info .price {
    font-size: 1.8rem;
    line-height: 1.5;
  }
  .promotion {
    position: relative;
  }
  .promotion .swiper-button-prev i {
    position: absolute;
    font-size: 50px;
    left: 80px;
    color: #77bd82;
  }
  .promotion .swiper-button-next i {
    position: absolute;
    font-size: 50px;
    right: 80px;
    color: #77bd82;
  }
}
@media screen and (max-width: 580px) {
  .promotion {
    position: relative;
  }
  .organic .promotion-info .buy {
    font-size: 1.5rem;
    padding: 4%;
    width: 60%;
  }
  .promotion .swiper-button-next::after {
    display: none;
  }
  .promotion .swiper-button-next i {
    position: absolute;
    font-size: 50px;
    right: 80px;
    color: #77bd82;
  }
  .promotion .swiper-button-prev::after {
    display: none;
  }

  .promotion .swiper-button-prev i {
    position: absolute;
    font-size: 50px;
    left: 80px;
    color: #77bd82;
  }
}
@media screen and (max-width: 540px) {
  .menu ul li a {
    font-size: 1rem;
  }
  .header-right a {
    font-size: 0.8rem;
  }
  .fa-solid {
    font-size: small;
  }
  .content .text {
    font-size: 1.8rem;
    word-break: keep-all;
  }
  .main .swiper-slide .sub {
    font-size: 2rem;
  }
  .main .swiper-slide .button {
    font-size: 1.5rem;
    padding: 2%;
  }
  .organic .promotion-info .buy {
    font-size: 1.5rem;
    padding: 4%;
  }
  .organic .promotion-info .title {
    font-size: 2.5rem;
    line-height: 2;
    display: block;
  }
  .organic .promotion-info .sub-title {
    font-size: 1.8rem;
    line-height: 1;
  }
  .organic .promotion-info .price {
    font-size: 1.8rem;
    line-height: 1.5;
  }
  .promotion .swiper-button-prev i {
    position: absolute;
    font-size: 50px;
    left: 50px;
    color: #77bd82;
  }
  .promotion .swiper-button-next i {
    position: absolute;
    font-size: 50px;
    right: 50px;
    color: #77bd82;
  }
}

@media screen and (max-width: 480px) {
  .menu {
    display: none;
  }
  .header-right {
    display: none;
  }
  .header {
    border: none;
    top: 10;
    width: 95%;
  }
  .logo {
    width: 30%;
    border: none;
  }
  .logo a img {
    width: 100%;
  }
  .main .swiper-slide .banner {
    width: 100%;
    display: none;
  }
  .main .swiper-slide .mb-banner {
    width: 100%;
    display: block;
  }
  .main .swiper-slide .sub {
    font-size: 1.5rem;
  }
  .main .swiper-slide .smain {
    font-weight: bold;
    font-size: 2.5rem;
    word-break: keep-all;
    line-height: 1.3;
  }
  .main .swiper-slide .button {
    font-size: 1.5rem;
    margin-bottom: 3%;
    padding: 4%;
  }
  .content .text {
    display: none;
  }
  .organic .swiper-slide img {
    width: 50%;
    display: block;
  }
  .organic .promotion-info .buy {
    font-size: 2rem;
    padding: 3%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
  .organic .promotion-info .title {
    font-size: 3rem;
    line-height: 2;
    display: block;
  }
  .organic .promotion-info .sub-title {
    font-size: 2rem;
    line-height: 1;
  }
  .organic .promotion-info .price {
    font-size: 2rem;
    line-height: 1.5;
  }
  .organic .swiper-slide {
    flex-wrap: wrap;
    gap: 30px;
  }
  .organic .swiper-slide {
    width: 100%;
    height: 100%;
  }
  .organic .promotion-info {
    width: 100%;
    /* height: 30%; */
  }
  .promotion {
    padding: 50px;
  }
  .promotion .swiper-button-prev i {
    display: none;
  }
  .promotion .swiper-button-next i {
    display: none;
  }
  /* 모바일 쿠폰 */
  .mb-copun {
    padding: 50px;
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .mb-copun img {
    width: 80%;
    padding-bottom: 20px;
  }
  .copun {
    border-radius: 40px;
    background-color: #fff;
    color: #000;
    width: 60%;
    outline: none;
    border: 2px solid #77bd82;
    height: 40px;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1;
  }
  .copun span {
    color: #77bd82;
  }
  /* 모바일메뉴 */
  .mb-menu {
    display: block;
    z-index: 999;
  }
  /* 모바일메뉴 */
  .header {
    width: 95%;
  }
  .mbmenu {
    position: relative;
    display: none;
    width: 80%;
    height: 450px;
    position: absolute;
    top: 57px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
  }
  .mbmenu ul {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 50px;
    font-size: 2rem;
  }
  .mbmenu ul li a {
    color: #fff;
    text-align: center;
  }
  .mb-menu {
    display: block;
  }
  .mb-menu i {
    font-size: 20px;
    color: #fff;
  }
  /*gotop*/
  .top-button .shop-btn {
    position: relative;
    display: inline-block; /* display 속성을 inline-block으로 변경 */
    width: 30px; /* 너비를 20px로 변경 */
    height: 30px; /* 높이를 20px로 추가 */
    border-radius: 50%;
    line-height: 35px; /* line-height를 20px로 변경 */
    background-color: #fff;
    color: #77bd82;
    font-size: 10px; /* font-size를 10px로 변경 */
    font-weight: 500;
    text-align: center;
    box-shadow: 0px 2px 5px 0 rgb(0, 0, 0, 0.3); /* 그림자 크기 조정 */
    letter-spacing: 0.3px; /* letter-spacing을 0.3px로 변경 */
  }
  .top-button .top-btn {
    position: relative;
    display: inline-block; /* display 속성을 inline-block으로 변경 */
    width: 30px; /* 너비를 20px로 변경 */
    height: 30px; /* 높이를 20px로 추가 */
    border-radius: 50%;
    line-height: 35px; /* line-height를 20px로 변경 */
    background-color: #77bd82;
    color: #fff;
    font-size: 10px; /* font-size를 10px로 변경 */
    font-weight: 500;
    text-align: center;
    box-shadow: 0px 2px 5px 0 rgb(0, 0, 0, 0.3); /* 그림자 크기 조정 */
    letter-spacing: 0.3px; /* letter-spacing을 0.3px로 변경 */
  }
}

@media screen and (max-width: 320px) {
  .menu {
    display: none;
  }
  .header-right {
    display: none;
  }
  .header {
    border: none;
    top: 10px;
    width: 95%;
  }
  .fa-solid {
    font-size: 20px;
  }
  .logo {
    width: 30%;
    border: none;
  }
  .logo a img {
    width: 100%;
  }
  .main .swiper-slide {
    width: 100vw;
  }
  .main .swiper-slide .banner {
    width: 100%;
    display: none;
  }
  .main .swiper-slide .mb-banner {
    width: 100%;
    display: block;
  }
  .main .swiper-slide .sub {
    font-size: 1.2rem;
  }
  .main .swiper-slide .smain {
    font-weight: bold;
    font-size: 2.3rem;
    word-break: keep-all;
    line-height: 1.3;
  }
  .main .swiper-slide .button {
    font-size: 1.5rem;
    margin-bottom: 3%;
    padding: 4%;
  }
  .content .text {
    display: none;
  }
  .organic .swiper-slide img {
    width: 50%;
    display: block;
  }
  .organic .promotion-info .buy {
    font-size: 1.3rem;
    padding: 3.3%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 1;
  }
  .organic .promotion-info .title {
    font-size: 2.5rem;
    line-height: 2;
    display: block;
  }
  .organic .promotion-info .sub-title {
    font-size: 1.8rem;
    line-height: 1;
  }
  .organic .promotion-info .price {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .organic .swiper-slide {
    flex-wrap: wrap;
    gap: 30px;
  }
  .organic .swiper-slide img {
    width: 95%;
    height: 100%;
  }
  .organic .promotion-info {
    width: 100%;
    /* height: 30%; */
  }
  .promotion {
    padding: 30px;
  }
  .promotion .swiper-button-prev i {
    display: none;
  }
  .promotion .swiper-button-next i {
    display: none;
  }
  /* 모바일 메뉴 */
  .header {
    width: 95%;
  }
  .mbmenu {
    position: relative;
    display: none;
    width: 80%;
    height: 450px;
    position: absolute;
    top: 57px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
  }
  .mbmenu ul {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 50px;
    font-size: 2rem;
  }
  .mbmenu ul li a {
    color: #fff;
    text-align: center;
  }
  .mb-menu {
    display: block;
  }
  .mb-menu i {
    font-size: 20px;
    color: #fff;
  }
  .copun {
    font-size: 12px;
  }
  .copun span {
    font-size: 12px;
  }
  /*gotop*/
  .top-button .shop-btn {
    position: relative;
    display: inline-block; /* display 속성을 inline-block으로 변경 */
    width: 30px; /* 너비를 20px로 변경 */
    height: 30px; /* 높이를 20px로 추가 */
    border-radius: 50%;
    line-height: 35px; /* line-height를 20px로 변경 */
    background-color: #fff;
    color: #77bd82;
    font-size: 10px; /* font-size를 10px로 변경 */
    font-weight: 500;
    text-align: center;
    box-shadow: 0px 2px 5px 0 rgb(0, 0, 0, 0.3); /* 그림자 크기 조정 */
    letter-spacing: 0.3px; /* letter-spacing을 0.3px로 변경 */
  }
  .top-button .top-btn {
    position: relative;
    display: inline-block; /* display 속성을 inline-block으로 변경 */
    width: 30px; /* 너비를 20px로 변경 */
    height: 30px; /* 높이를 20px로 추가 */
    border-radius: 50%;
    line-height: 35px; /* line-height를 20px로 변경 */
    background-color: #77bd82;
    color: #fff;
    font-size: 10px; /* font-size를 10px로 변경 */
    font-weight: 500;
    text-align: center;
    box-shadow: 0px 2px 5px 0 rgb(0, 0, 0, 0.3); /* 그림자 크기 조정 */
    letter-spacing: 0.3px; /* letter-spacing을 0.3px로 변경 */
  }
}