@charset "utf-8";
@import url(main.css);
@import url(font.css);
.header {
    /* position: fixed; */
    width: 95%;
    min-height: 50px;
    max-height: 85px;
    height: 6.427vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* background-color: antiquewhite; */
    position: absolute;
    top: 0.7%;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    z-index: 9999;
    border: 1px solid #fff;
    /* background-color: #0000003a; */
  }
  
  .logo {
    width: 13%;
    height: 100%;
    padding: 1%;
    border-right: 1px solid #fff;
    /* background-color: rgb(158, 118, 43); */
  }
  .logo a {
    position: relative;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1%;
    /* background-color: #77bd82; */
  }
  .logo a img {
    position: relative;
    display: block;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
  
  /* 메뉴영역 */
  .menu {
    width: 65%;
    height: 100%;
    /* background-color: aqua; */
    padding: 1% 10%;
    /* display: flex; */
    /* justify-content: space-between; */
    border-right: 1px solid #fff;
    margin: auto;
  }
  .menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    font-size: 1vw;
  
    justify-content: center;
    align-items: center;
  }
  .menu ul li {
    width: calc(100% / 5);
    height: 100%;
    display: flex;
    align-items: center;
  }
  .menu ul li a {
    width: 100%;
    display: block;
    color: #fff;
  }
  .menu ul li a span {
    position: relative;
  }
  .menu li > a > span::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 1%;
    height: 1%;
    opacity: 0;
    background-color: #ffffff;
    transition: all 0.5s;
  }
  .menu li:hover span::after {
    width: 100%;
    text-align: right;
    opacity: 1;
  }
  /* 로그인&회원가입영역 */
  .header-right {
    width: 15%;
    height: 100%;
    padding: 1%;
    font-size: 1vw;
    border-right: 1px solid #fff;
    display: flex;
    /* justify-content: center; */
  }
  .header-right ul {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1%;
  }
  .header-right a::after {
    content: "|";
    color: #fff;
    position: absolute;
    left: 45%;
  }
  .header-right a {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
  }
  /* position: fixed; */
  width: 95%;
  min-height: 50px;
  max-height: 85px;
  height: 6.427vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
  /* background-color: antiquewhite; */
  position: absolute;
  top: 0.7%;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  z-index: 9999;
  border: 1px solid #fff;
  /* background-color: #0000003a; */
}

.logo {
  width: 13%;
  height: 100%;
  padding: 1%;
  border-right: 1px solid #fff;
  /* background-color: rgb(158, 118, 43); */
}
.logo a {
  position: relative;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1%;
  /* background-color: #77bd82; */
}
.logo a img {
  position: relative;
  display: block;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

/* 메뉴영역 */
.menu {
  width: 65%;
  height: 100%;
  /* background-color: aqua; */
  padding: 1% 10%;
  /* display: flex; */
  /* justify-content: space-between; */
  border-right: 1px solid #fff;
  margin: auto;
}
.menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  font-size: 1vw;

  justify-content: center;
  align-items: center;
}
.menu ul li {
  width: calc(100% / 5);
  height: 100%;
  display: flex;
  align-items: center;
}
.menu ul li a {
  width: 100%;
  display: block;
  color: #fff;
}
.menu ul li a span {
  position: relative;
}
.menu li > a > span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 1%;
  height: 1%;
  opacity: 0;
  background-color: #ffffff;
  transition: all 0.5s;
}
.menu li:hover span::after {
  width: 100%;
  text-align: right;
  opacity: 1;
}
/* 로그인&회원가입영역 */
.header-right {
  width: 15%;
  height: 100%;
  padding: 1%;
  font-size: 1vw;
  border-right: 1px solid #fff;
  display: flex;
  /* justify-content: center; */
}
.header-right ul {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1%;
}
.header-right a::after {
  content: "|";
  color: #fff;
  position: absolute;
  left: 45%;
}
.header-right a {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
}

/* 후기작성 */
.review-wrap {
  /* background-color: aqua; */
}
.review-top {
  line-height: 1.5;
  text-align: center;
  position: relative;
  margin-top: 5%;
}
.review-top h1 {
  font-size: 40px;
  font-weight: 600;
}
.review-top span {
  font-size: 20px;
  color: gray;
}
.review-top hr {
  width: 2%;
  /* position: absolute; */
  margin: auto;
  text-align: center;
  margin-top: 2px;
}
.review-top-img {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 6%;
  margin-top: 2%;
  cursor: pointer;
}

.rv-top1 p {
  font-size: 15px;
}
fieldset{
  background-color: #fff;
  text-align: left;
}
#imageeye {
  width: 60%;
  margin: ;
}
.rv-wrap {
  display: flex;
  margin: auto;
  justify-content: center;
  gap:7%;
  margin-top: 8%;
}
.review-right{
  line-height: 2;
}
.review-right p{
  font-size: 1.8vw;
  
}
#title{
  height: 20px;
}
#rating{
  height: 20px;

}
#content{
  width: 400px;
  height: 300px;
}
#name{
  height: 20px;
}
#date{
  height: 25px;
  font-size: 18px;
}
#send{
  height: 25px;
  margin-top: 20px;
  font-size: 18px;
  width: 100px;
  background-color: #77bd82;
  border: #77bd82;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}
