@charset "utf-8";
@import url(main.css);
@import url(font.css);
@import url(from.css);
@import url(eun.css);

/* 후기작성 */
.review-wrap {
  /* background-color: aqua; */
}
.review-top {
  line-height: 1.5;
  text-align: center;
  position: relative;
  margin-top: 5%;
}
.review-top h1 {
  font-size: 40px;
  font-weight: 600;
}
.review-top span {
  font-size: 20px;
  color: gray;
}
.review-top hr {
  width: 2%;
  /* position: absolute; */
  margin: auto;
  text-align: center;
  margin-top: 2px;
}
.review-top-img {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 6%;
  margin-top: 2%;
  cursor: pointer;
}

.rv-top1 p {
  font-size: 15px;
}
.review-bt-img {
  text-align: center;
}
fieldset {
  background-color: #fff;
  text-align: left;
  padding: 40px;
}
#imageeye {
  width: 60%;
  padding: 30px;
}
.rv-wrap {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 7%;
  margin-top: 8%;
  padding: auto;
  color: gray;
  margin-bottom: 7%;
}
.review-right {
  line-height: 2;
}
.review-right p {
  font-size: 1.8vw;
}
legend {
  padding: 0;
  font-size: 2vw;
  text-align: center;
}
#title {
  width: 400px;

  height: 30px;
  border: 2px solid #ccc; /* 기본 선 굵기 */
  border-radius: 5px;
}
#rating {
  height: 20px;
  border: 2px solid #ccc; /* 기본 선 굵기 */
  border-radius: 5px;
}
#content {
  width: 400px;
  height: 200px;
  border: 2px solid #ccc; /* 기본 선 굵기 */
  border-radius: 5px;
}
#name {
  height: 20px;
  border: 2px solid #ccc; /* 기본 선 굵기 */
  border-radius: 5px;
}
#date {
  width: 400px;
  height: 30px;
  font-size: 24px;
  border: 2px solid #ccc; /* 기본 선 굵기 */
  border-radius: 5px;
}
#send {
  width: 400px;
  height: 30px;
  margin-top: 20px;
  font-size: 20px;
  background-color: #77bd82;
  border: #77bd82;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}
@media all and (max-width: 1200px) {
  .rv-wrap {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 5%;
    margin-top: 8%;
    padding: auto;
    margin-bottom: 30%;
    color: gray;
  }
  fieldset {
    background-color: #fff;
    text-align: left;
    padding: 30px;
  }
  #imageeye {
    width: 50%;
    padding: 30px;
  }
}
@media all and (max-width: 690px) {
  .rv-wrap {
    /* background-color: aqua; */
    flex-direction: column;
  }
  .review-top {
    line-height: 1.5;
    text-align: center;
    position: relative;
    margin-top: 5%;
  }
  .review-top h1 {
    font-size: 20px;
    font-weight: 600;
  }
  .review-top span {
    font-size: 14px;
    color: gray;
  }
  .review-top hr {
    display: none;
  }
  .review-top-img {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 6%;
    margin-top: 2%;
    cursor: pointer;
  }

  .rv-top1 p {
    font-size: 13px;
  }
  .review-bt-img {
    text-align: center;
  }
  fieldset {
    background-color: #fff;
    text-align: left;
    line-height: 3;
  }
  #imageeye {
    width: 50%;
    text-align: center;
  }

  .rv-wrap {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 7%;
    margin-top: 8%;
    padding: auto;
    margin-bottom: 30%;
    color: gray;
  }
  .review-left {
    margin: 0 auto;
  }
  .review-right {
    line-height: 2;
    margin: 0 auto;
  }
  .review-right p {
    font-size: 1.8vw;
  }
  legend {
    padding: 0;
    font-size: 3.5vw;
    text-align: center;
  }
  #major {
    width: 200px;
    margin-left: 20%;
  }
  #title {
    width: 200px;
    height: 25px;
    border: 2px solid #ccc; /* 기본 선 굵기 */
    border-radius: 5px;
  }
  #rating {
    height: 20px;
    border: 2px solid #ccc; /* 기본 선 굵기 */
    border-radius: 5px;
  }
  #content {
    width: 200px;
    height: 100px;
    border: 2px solid #ccc; /* 기본 선 굵기 */
    border-radius: 5px;
  }
  #name {
    height: 20px;
    border: 2px solid #ccc; /* 기본 선 굵기 */
    border-radius: 5px;
  }
  #date {
    width: 200px;
    height: 25px;
    font-size: 16px;
    border: 2px solid #ccc; /* 기본 선 굵기 */
    border-radius: 5px;
  }
  .reg {
    display: none;
  }
  #send {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    font-size: 17px;
    background-color: #77bd82;
    border: #77bd82;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
  }
}
@media all and (max-width: 320px) {
  .rv-wrap {
    /* background-color: aqua; */
    flex-direction: column;
  }
  .review-top {
    line-height: 1.5;
    text-align: center;
    position: relative;
    margin-top: 5%;
  }
  .review-top h1 {
    font-size: 20px;
    font-weight: 600;
  }
  .review-top span {
    font-size: 14px;
    color: gray;
  }
  .review-top hr {
    display: none;
  }
  .review-top-img {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 6%;
    margin-top: 2%;
    cursor: pointer;
  }

  .rv-top1 p {
    font-size: 13px;
  }
  .review-bt-img {
    text-align: center;
  }
  fieldset {
    background-color: #fff;
    text-align: left;
    line-height: 3;
  }
  #imageeye {
    width: 60%;
    text-align: center;
  }

  .rv-wrap {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 7%;
    margin-top: 8%;
    padding: auto;
    margin-bottom: 30%;
    color: gray;
  }
  .review-left {
    margin: 0 auto;
  }
  .review-right {
    line-height: 2;
    margin: 0 auto;
  }
  .review-right p {
    font-size: 1.8vw;
  }
  legend {
    padding: 0;
    font-size: 4.5vw;
    text-align: center;
  }
  #major {
    margin-left: 12%;
  }
  #title {
    height: 20px;
    border: 2px solid #ccc; /* 기본 선 굵기 */
    border-radius: 5px;
  }
  #rating {
    height: 20px;
    border: 2px solid #ccc; /* 기본 선 굵기 */
    border-radius: 5px;
  }
  #content {
    width: 200px;
    height: 100px;
    border: 2px solid #ccc; /* 기본 선 굵기 */
    border-radius: 5px;
  }
  #name {
    height: 20px;
    border: 2px solid #ccc; /* 기본 선 굵기 */
    border-radius: 5px;
  }
  #date {
    height: 25px;
    font-size: 12px;
    border: 2px solid #ccc; /* 기본 선 굵기 */
    border-radius: 5px;
  }
  #send {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    font-size: 15px;
    background-color: #77bd82;
    border: #77bd82;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
  }
}
